.DS_Store
*.elc

session.*

backup/*

auto-save-list/*


\#*
.\#*

*.xmi

el-get/*

auto-save-list/*

.cask/*

.litable*
.mc*
ac-*
projectile-bookmarks*
recentf
timelog

.CurProjects*

irony/*

url/*

.purpose-layout*

backup/*
*.cache

emms/*

eshell/*

tramp

elpa/*
elpa/archives/*

.org-id-locations
ido.last
newsticker/
org-gcal/
smex-items

.ercrc.el

.emacs.desktop
bbdb
bookmarks
network-security.data
