[submodule "company-ghc"]
	path = company-ghc
	url = https://github.com/iquiw/company-ghc.git
[submodule "web-mode"]
	path = web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "emacs-powerline"]
	path = emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "matlab-mode"]
	path = matlab-mode
	url = https://github.com/pronobis/matlab-mode.git
[submodule "lisp/company-auctex"]
	path = lisp/company-auctex
	url = https://github.com/alexeyr/company-auctex.git
[submodule "Highlight-Indentation-for-Emacs"]
	path = Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "bongo"]
	path = bongo
	url = git://github.com/dbrock/bongo.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
